<section id="about-me" class="about-me-section py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-6 text-center">
        <%= image_tag 'profil/adam_424.webp', id: 'adam',
              srcset: {
                asset_path('profil/adam_212.webp') => '212w',
                asset_path('profil/adam_318.webp') => '318w',
                asset_path('profil/adam_424.webp') => '424w'
              },
              sizes: '(max-width: 400px) 212px, (min-width: 401px) and (max-width: 992px) 318px, 424px',
              alt: 'Photo de Adam Lamouri',
              title: 'Moi, votre futur développeur préféré',
              class: "profile-image rounded-circle" %>

      </div>
      <div class="col-10 col-md-6">
        <div>
          <h2 class='text-center d-none'>À propos de moi</h2>
          <p class="introduction">
            Bonjour à tous ! Je m'appelle Adam Lamouri, un développeur web de 25 ans basé à Marseille, doté d'une passion ardente pour l'innovation technologique.
          </p>
          <p class="details">
            Mon parcours professionnel m'a ancré une éthique de travail robuste, tout en embrassant une culture mondiale grâce à ma maîtrise courante de l'anglais et de l'espagnol. Cela me positionne idéalement pour travailler efficacement en télétravail avec des équipes internationales, où que vous soyez dans le monde. Dans le monde du développement web, j'ai découvert une satisfaction sans pareil à surmonter les défis techniques, tout en créant des solutions digitales qui améliorent véritablement le quotidien des utilisateurs. Chaque projet est une occasion d'apporter ma force de proposition, d'innovation et d'efficacité. Ma spécialisation en Ruby on Rails et Javascript, couplée à ma passion pour la découverte, me permet de donner vie à vos idées les plus audacieuses.
          </p>
          <p>
            Si vous recherchez une collaboration avec un développeur qui allie compétence technique à une véritable compréhension des enjeux mondiaux et qui est toujours prêt à apporter de nouvelles perspectives, alors n'hésitez pas.
          </p>
            <p>Et comme aime le dire un développeur qui tire son inspiration de Descartes : '<em>Je code, donc je bug... puis je débug !'</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
