<section id="skills" class="py-5">
  <div class="container">
    <h2 class="mb-4 text-center">Compétences</h2>

    <div class="row justify-content-evenly">

      <%= render 'layouts/main/skills/4skills_progress' %>

      <div class="col-12 col-md-6">

        <div class="skills-carousel-section">
          <div class="container">
            <%= render 'layouts/main/skills/4skills_carroussel' %>
          </div>
        </div>

        <div class='text-center'>
          <p>Practise makes perfect ! Je continue de m'apprendre des autres via Codewars</p>
          <%= link_to 'https://www.codewars.com/users/AL-Doflamingo' do %>
            <%= image_tag 'https://www.codewars.com/users/AL-Doflamingo/badges/large' %>
          <% end %>
        </div>


      </div>

    </div>

  </div>
</section>
