<section id="education" class="education-section py-5">
  <div class="container">
    <h2 class="text-center mb-5">Formation</h2>

    <!-- Première formation : Master en Développement Web -->
    <div class='container'>

      <div class='row justify-content-between'>
        <div class="col-1 timeline">
        </div>

        <div class='col-10'>
          <span>Juillet 2023 - Septembre 2023</span>
          <div class="formation p-3 mt-1 mb-3">
            <h3>Titre RNCP niveau 6 - Concepteur Développeur d'application Web</h3>
            <p>Le Wagon - Marseille</p>
            <p>
              Au cours de ce bootcamp intensif, j'ai renforcé et concrétisé mes compétences initiales en plongeant profondément dans l'univers de Ruby on Rails. Cette formation m'a offert une solide compréhension des concepts fondamentaux de la programmation web et des frameworks, tels que Stimulus, Bootstrap, Vue.js, bases de données SQL ainsi que de concepts propres à la programmation comme l'API Rest, le CRUD et le MVC.
            </p>
            <p>
              Mon dévouement et mon travail acharné ont été reconnus lorsque j'ai obtenu le titre professionnel RNCP niveau bac+3/4 avec les félicitations du jury.
            </p>
          </div>
        </div>

      </div>

      <div class='row justify-content-between'>

        <div class="col-1 timeline">
        </div>

        <div class='col-10'>
          <span>Avril 2023</span>
          <div class="formation p-3 mt-1 mb-3">
            <h3>Formation Développement Web - Bases</h3>
            <p>3WAcademy - remote</p>
            <p>
              Pendant cette formation introductive, j'ai jeté les fondements de ma carrière de développeur en apprenant les bases du HTML, CSS, JavaScript, et PHP. Cette initiation en autodidacte a éveillé en moi une passion pour le web et m'a ouvert la porte à des formations plus approfondies, solidifiant ainsi mes compétences en développement front-end et back-end.
            </p>
          </div>
        </div>

      </div>

      <div class='row justify-content-between'>

        <div class="col-1 timeline">
        </div>

        <div class='col-10'>
          <span>Septembre 2015 - Juin 2017</span>
          <div class="formation p-3 mt-1 mb-3">
            <h3>Niveau bac +2 - Classe Préparatoire aux Grandes Ecoles de commerces</h3>
            <p>Lycée Saint-Exupéry, Marseille</p>
            <p>
              Avant mon incursion dans le monde du développement web, j'ai embrassé le défi exigeant de la Classe Préparatoire aux Grandes Écoles, parcours Économique et Commerciale option Scientifique (ECS). Cette formation, loin d'être une simple étape académique, m'a sculpté tant sur le plan intellectuel que personnel.
            </p>
            <p>
              Mes deux années intensives en prépa m'ont permis d'atteindre un niveau d'excellence en plusieurs disciplines. En effet, j'ai acquis une solide compétence en algèbre, consolidé ma maîtrise des langues en devenant trilingue, avec une aisance particulière en anglais et en espagnol. De plus, ma passion pour la géopolitique s'est intensifiée, me dotant d'une vision éclairée sur les enjeux mondiaux actuels.
            </p>
            <p>
              À l'issue de ces années acharnées, j'ai réussi à décrocher le concours, témoignant de ma détermination et de mes compétences acquises. Cette période formatrice ne m'a pas seulement inculqué des connaissances, elle a façonné mon aptitude à apprendre rapidement et efficacement. L'intensité et la rigueur de ces études supérieures m'ont préparé à surmonter n'importe quel défi, une compétence que j'applique aujourd'hui dans le domaine du développement web.
            </p>
          </div>
        </div>

      </div>


    </div>

  </div>
</section>
