<section id="education" class="education-section py-5">
  <div class="container">
    <h2 class="text-center mb-5">Formation</h2>

    <!-- Première formation : Master en Développement Web -->
    <div class='container'>

      <div class='row justify-content-between'>
        <div class="col-1 timeline">
        </div>

        <div class='col-10'>
          <span>Juillet 2023 - Septembre 2023, Marseille</span>
          <div class="formation p-3 mt-1 mb-3">
            <h4>Bootcamp Web Développement</h4>
            <p>Le Wagon - Marseille</p>
            <p>J'ai suivi un bootcamp intensif axé sur le développement web où j'ai maîtrisé Ruby on Rails, Stimulus, Bootstrap, Vue.js, bases de données SQL, API Rest et CRUD. J'ai obtenu un titre professionnel RNCP niveau bac+3/4 avec félicitations du jury.</p>
          </div>
        </div>

      </div>

      <div class='row justify-content-between'>

        <div class="col-1 timeline">
        </div>

        <div class='col-10'>
          <span>Avril 2023, Remote</span>
          <div class="formation p-3 mt-1 mb-3">
            <h4>Formation Web Développement</h4>
            <p>3WAcademy</p>
            <p>
              Durant cette mini-formation d'un mois, j'ai acquis de solides bases en HTML, CSS et JavaScript. Cette expérience en autodidacte m'a préparé pour des formations plus intensives, renforçant ma maîtrise de l'algorithmie et de la programmation orientée objet.
            </p>
          </div>
        </div>

      </div>


    </div>

  </div>
</section>
