<section id="contact" class="py-5">
  <h2 class="text-center">Contactez-moi</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="contact-section col-md-5 col-11 my-5 p-3 rounded-3">

          <!-- Titre -->
          <h3 class="text-center mb-3">Adam Lamouri - Développeur Web</h3>

          <!-- Envoyer un e-mail -->
          <div class="d-flex align-items-center mb-2">
              <i class="fas fa-envelope me-2"></i>
              <%= link_to 'adamlamouri.pro@gmail.com', "mailto:adamlamouri.pro@gmail.com" %>
          </div>

          <!-- Voir le numéro -->
          <div class="d-flex align-items-center mb-2">
              <i class="fas fa-phone me-2"></i>
              <span>+33 6 13 67 61 79</span>
          </div>

          <!-- Aller sur LinkedIn -->
          <div class="d-flex align-items-center mb-2">
              <i class="fab fa-linkedin me-2"></i>
              <%= link_to 'adamlamouri', "https://www.linkedin.com/in/adamlamouri/", target: "_blank" %>
          </div>

          <!-- Aller sur GitHub -->
          <div class="d-flex align-items-center mb-2">
              <i class="fab fa-github me-2"></i>
              <%= link_to 'heavensal', "https://github.com/heavensal", target: "_blank" %>
          </div>

        </div>


        <div class='col-md-6 my-5 d-flex justify-content-center align-items-center'>
          <%= link_to 'CV_Lamouri_Adam Dev web.pdf', download: '', class: "btn btn-outline-secondary mt-3 mt-lg-0" do %>
            <i class="fas fa-file-download"></i> Télécharger mon CV
          <% end %>
        </div>
      </div>


    </div>
</section>
