<div id='skills-bar' class="col-11 col-md-4 rounded-3 p-3">

  <h4>Langages</h4>

  <div class="mb-3">
    <label for="html">HTML</label>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en HTML">100%</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="css">CSS</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en CSS">100%</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="javascript">JavaScript</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en JavaScript">90%</div>
    </div>
  </div>

  <div class="mb-3">
      <label for="ruby">Ruby</label>
      <div class="progress progress-dm">
          <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en Ruby">95%</div>
      </div>
  </div>

  <div class="mb-3">
    <label for="sql">SQL</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en SQL">65%</div>
    </div>
  </div>

  <h4 class="mt-5">Frameworks et Bibliothèques</h4>

  <div class="mb-3">
    <label for="rails">Ruby On Rails</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en Ruby On Rails">90%</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="activerecord">ActiveRecord</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en ActiveRecord">75%</div>
    </div>
  </div>

  <div class="mb-3">
      <label for="stimulusjs">Stimulus.js</label>
      <div class="progress progress-dm">
          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en Stimulus.js">100%</div>
      </div>
  </div>

  <div class="mb-3">
      <label for="bootstrap">Bootstrap</label>
      <div class="progress progress-dm">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en Bootstrap">80%</div>
      </div>
  </div>

  <div class="mb-3">
      <label for="vuejs">Vue.js</label>
      <div class="progress progress-dm">
          <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en Vue.js">70%</div>
      </div>
  </div>

  <!-- Base de données & Outils -->
  <h4 class="mt-5">Outils</h4>

  <div class="mb-3">
    <label for="postgresql">Git</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en Git">85%</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="apirest">APIRest</label>
    <div class="progress progress-dm">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" aria-label="Compétence en APIRest">90%</div>
    </div>
  </div>

</div>
