<footer class="footer-dm py-4">
  <div class="container">
    <div class="row justify-content-evenly">
      <!-- Section 1: À propos de moi -->
      <div class="col-md-4">
        <h5>À propos de moi</h5>
        <p>Adam Lamouri, Développeur Web passionné, originaire de Marseille. Toujours à la recherche de nouvelles opportunités pour créer et innover.</p>
      </div>

      <!-- Section 2: Liens rapides -->


      <!-- Section 3: Contact & Réseaux sociaux -->
      <div class="col-md-4">
        <h5>Contactez-moi</h5>
        <p>Email: <a href='adamlamouri.pro@gmail.com'>adamlamouri.pro@gmail.com</a></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://linkedin.com/in/adamlamouri" target="_blank">LinkedIn</a></li>
          <!-- Vous pouvez ajouter d'autres liens de réseaux sociaux ici, comme GitHub, Twitter, etc. -->
        </ul>
      </div>

      <div class="col-12 col-md-2 text-end">
        <%= link_to "#banner", class: "scroll-to-top", data: { controller: "scroll" } do %>
          <i class="fas fa-arrow-up"></i>
        <% end %>
      </div>
    </div>



    <!-- Droits d'auteur -->
    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; <%= Time.now.year %> Adam Lamouri. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
