<section id="banner" class='d-flex flex-column justify-content-center align-items-center' data-controller="banner">

  <h1 class='text-center' data-banner-target='title'>
    Adam Lamouri
    <br>
    Développeur Web
  </h1>

</section>
