<section id="banner" class='d-flex flex-column justify-content-center align-items-center'>

  <h1 class='text-center'>
    Adam Lamouri
    <br>
    Développeur Web
  </h1>


  <div class='w-100 d-flex justify-content-end'>
    <button class='btn btn-dark' data-action='click->lightdark#transform'>light and dark</button>
  </div>
</section>
