@import 'variables';

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
                       rgba(0, 0, 0, 0.6)), asset-url("banner-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;

  &.delayed-opacity {
    opacity:1;
  }

  h1 {
    color: $text-dm;
    opacity: 0;
    transition: opacity 2s ease;
    &.delayed-opacity {
      opacity:1;
    }
  }

}
