@import 'variables';

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                       rgba(0, 0, 0, 0.3)), asset-url("banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:240px;

  h1 {
    color: $text-dm;
  }
}
