@import 'variables';

body {
  margin:0 !important;

  a {
    text-decoration: none;
  }
}

#responsive-menu {
  background: linear-gradient(to bottom, $navbar-2-lm, $navbar-1-lm)
}

.body-dm {
  // background: $bg-dm !important;
  background: linear-gradient(to bottom, $bg-dm 50%, $bg-footer-dm 75%) !important;
  color: $text-dm !important;

  nav {
    background: linear-gradient(to bottom, $navbar-1-lm, $navbar-2-lm);
    color: $text-dm;


    button {
      color: $text-dm !important;
    }

    a {
      color: $text-dm;

      &:hover {
        background-color: $navbar-hover-dm;
        color: $navbar-hover-text-dm;
      }
    }
  }

  .profile-image {
    border: 2px solid $border-card-dm;
  }


  #skills {

    #skills-bar {
      background-color: $bg-card-dm;
      border: 2px solid $border-card-dm;
      color: $text-card-dm;

      .progress {
        background-color: $text-card-dm !important;

        .progress-bar {
          background-color: $border-card-dm !important;
          color: $text-card-dm;
        }
      }
    }
  }

  #projects {
    .project {
      background-color: $bg-card-dm;
      border: 2px solid $border-card-dm;
      color: $text-dm;

      a {
        border: 1px solid $text-dm;
        color: $text-dm;
        transition: 0.3s ease;

        &:hover {
          background-color: $text-dm;
          color: $navbar-hover-dm;
        }
      }
    }
  }

  #education {
    .formation {
      background-color: $bg-card-dm;
      border: 2px solid $border-card-dm;
      color: $text-dm;
    }
  }

  #contact {
    .contact-section {
      background-color: $bg-card-dm;
      border: 2px solid $border-card-dm;
      color: $text-dm;
        a {
          color: $text-dm;
        }
      }
    }

  footer {
    background-color: $bg-footer-dm;
    color: $text-card-dm;
    a {
      color: $text-card-dm;
    }
  }
}

.body-lm {
  // background-color: $bg-lm !important;
  // color: $text-lm !important;

  nav {
    background: linear-gradient(to bottom, $navbar-1-lm, $navbar-2-lm);
    color: $navbar-hover-text-lm;

    button {
      color: $navbar-hover-text-lm !important;
    }

    a {
      color: $navbar-hover-text-lm;

      &:hover {
        background-color: $navbar-hover-lm;
        color: $navbar-hover-text-lm;
      }
    }
  }

  .profile-image {
    box-shadow: 0px 0px 8px 0px #3a0b9d;
  }

  #skills {

    #skills-bar {
      box-shadow: 0px 0px 8px 0px #3a0b9d;

      .progress {
        background-color: #b8b8b8 !important;

        .progress-bar {
          background-color: $navbar-2-lm !important;
        }
      }
    }
  }

  #projects {
    .project {
      // background-color: $bg-card-lm;
      box-shadow: 0px 0px 8px 0px #3a0b9d;
      background-color: #d5d5d59a;

      a {
        border: 1px solid #6c757d;
        transition: 0.3s ease;
        color: #6c757d;

        &:hover {
          background-color: #6c757d;
          color: white;
        }
      }
    }
  }

  #education {
    .formation {
      background-color: #d5d5d59a;
      box-shadow: 0px 0px 8px 0px #3a0b9d;
    }
  }

  #contact {
    .contact-section {
      background-color: #d5d5d59a;
      box-shadow: 0px 0px 8px 0px #3a0b9d;
        a {
          color: rgb(16, 15, 15);
        }
      }
    }

  footer {
    background-color: $bg-footer-dm;
    color: $text-card-dm;
    a {
      color: $text-card-dm;
    }
  }
}
