@import 'variables';

footer {
  a {
    text-decoration: none;
    color: $text-card-dm;
  }
}

.footer-dm {
  background-color: $bg-footer-dm;
  color: $text-card-dm;
}

.footer-lm {
  background-color: $bg-footer-lm;
  color: $text-card-lm;
}
