$primary-bg: #1b141d;
$secondary-bg: #231528;
$card: #311c3a;
$hover-card: #3a2046;
$active-card: #422451;
$border: #4d2a61;
$focus-border: #61357e;
$hover-border: #8349b6;
$solid-bg: #8e4ec6;
$hover-solid-bg: #9e63d5;
$low-text: #c794f9;
$high-text: #ecd9fa;

 nav {
  background-color: $primary-bg;
  position: sticky;
  top: 0;
  z-index:1000;
  // height: 80px;

  .link:hover {
    background-color: $hover-solid-bg;
  }

  a {
    text-decoration:none;
    color: $high-text;
  }
 }
