 /* $martinique: #3a2745;
 $voodoo: #482e53;
 $amethyst-smoke: #a88da9;
 $rum: #7d628a;
 $bossanova: #56346a;
 $mulled-wine: #5c3f6f;
 $bossanova: #5b3770;
 $london-hue: #bda6bf;
 $jacarta: #4b336e; */

 $navbar: #482e53;

 nav {
  color: white;
  background-color: $navbar;
  // height: 80px;
 }
