#projects {

  .more-info {
    font-size: 12px;
    &:hover {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .project-info {
    &:hover {
      cursor: pointer;
    }
  }

  .project {
    border-radius: 8px;
    overflow:hidden;
  }

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-position: center;
  }

  p {
    font-size: 12px;
  }

  a {
    width:33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-site {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 12px;
    height: 32px;
  }

  .btn-source {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    height: 32px;
  }

}
