@import 'variables';

#projects {

  p {
    font-size: 12px;
  }

  a {
    text-decoration: none;
    width:33%;
  }

  .btn-site {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 12px;
    height: 32px;

    border: 1px solid $text-dm;
    color: $text-dm;
  }

  .btn-source {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    height: 32px;

    border: 1px solid $text-dm;
    color: $text-dm;
  }

}

.projects-dm {
  background-color: $bg-card-dm;
  border: 2px solid $border-card-dm;
  color: $text-card-dm;
}
