@import 'variables';

.skills-bar-dm {
  background-color: $bg-card-dm;
  border: 2px solid $border-card-dm;
  color: $text-card-dm;
}

.progress-dm {
  background-color: $text-card-dm !important;
}

.progress-bar-dm {
  background-color: $border-card-dm !important;
  color: $text-card-dm;
}

#skillsCarousel {

  .carousel-item {
    height: 240px;
    padding: 8px;
  }

  p {
    padding: 8px;
  }
}
