#projects {
  .more-info {
    font-size: 12px;
    &:hover {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .project-info {
    &:hover {
      cursor: pointer;
    }
  }
}

#skillsCarousel {

  .carousel-item {
    height: 520px;
    padding: 8px;
  }

  p {
    padding: 8px;
  }

}

@media screen and (max-width: 992px) {
  #skillsCarousel {
    .carousel-item {
      height: 480px;
    }

    p {
      font-size: 12px;
    }

  }
}
