@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#skillsCarousel {
  .carousel-inner:hover {
    img {
      animation: rotate 1s ease-in-out infinite;
    }
  }

  .carousel-item {
    height: 520px;
    padding: 8px;
  }

  p {
    padding: 8px;
  }

}

@media screen and (max-width: 992px) {
  #skillsCarousel {
    .carousel-item {
      height: 480px;
    }

    p {
      font-size: 12px;
    }

  }
}
