//dark mode
$bg-dm: #1d1628;
$text-dm: #e0daf2;

$bg-card-dm: #3f3152;
$border-card-dm: #5f3a87;
$text-card-dm: #c9c1da;

$navbar-1-dm: #3f3152;
$navbar-2-dm: #5f3a87;
$navbar-hover-dm: #5f3a87;
$navbar-hover-text-dm: #ffffff;

// Dark mode - Formulaire
$form-bg-dark: #292034;
$input-bg-dark: #221a2f;
$input-text-dark: #c9c1da;
$label-text-dark: #e0d6eb;
$input-border-dark: #3a3145;
$input-focus-border-dark: #9a72d3;
$btn-bg-dark: linear-gradient(120deg, #5e4590, #8b68b8);
$btn-text-dark: #e0d6eb;
$btn-hover-bg-dark: linear-gradient(120deg, #6f50a3, #9c79c7);


$bg-footer-dm: #1c132a;

// light mode
$bg-lm: #f7f2fa;
$text-lm: #45334f;

$bg-card-lm: #e7e0ed;
$border-card-lm: #c9c1da;
$text-card-lm: #45334f;

$navbar-1-lm: #e7e0ed;
$navbar-2-lm: #d1cade;
$navbar-hover-lm: #c9c1da;
$navbar-hover-text-lm: #2a2139;
$bg-footer-lm: #d1cade;
