//dark mode
$bg-dm: #2a2139;
$text-dm: #e0daf2;

$bg-card-dm: #3f3152;
$border-card-dm: #5f3a87;
$text-card-dm: #c9c1da;

$navbar-1-dm: #3f3152;
$navbar-2-dm: #5f3a87;
$navbar-hover-dm: #5f3a87;
$navbar-hover-text-dm: #ffffff;

$bg-footer-dm: #1c132a;

// light mode
$bg-lm: #f7f2fa;
$text-lm: #45334f;

$bg-card-lm: #e7e0ed;
$border-card-lm: #c9c1da;
$text-card-lm: #45334f;

$navbar-1-lm: #e7e0ed;
$navbar-2-lm: #d1cade;
$navbar-hover-lm: #c9c1da;
$navbar-hover-text-lm: #2a2139;

// Dark mode

// Light mode
$bg-footer-lm: #d1cade;
$footer-text-light: #45334f;
