/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-bg: #1b141d;
$secondary-bg: #231528;
$card: #311c3a;
$hover-card: #3a2046;
$active-card: #422451;
$border: #4d2a61;
$focus-border: #61357e;
$hover-border: #8349b6;
$solid-bg: #8e4ec6;
$hover-solid-bg: #9e63d5;
$low-text: #c794f9;
$high-text: #ecd9fa;

 body {
  background-color: $secondary-bg!important;
  margin:0 !important;
  color:$low-text !important;
 }

 @import "bootstrap";

 @import "banner";
 @import "navbar";
 @import "footer";
 @import "logo";

 @import "accueil/profil";

 @import "competences/skill";
