<section id="about-me" class="about-me-section my-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-4">
        <%= image_tag 'profil.jpg', alt: "Photo de Adam Lamouri", class: "profile-image my-border img-fluid rounded-circle" %>
      </div>
      <div class="col-10 col-md-6">
        <div>
          <h2 class='text-center d-none'>À propos de moi</h2>
          <p class="introduction">
            Bonjour à tous ! Je suis Adam Lamouri, développeur web de 25 ans avec une véritable passion pour l'innovation et la découverte de nouvelles connaissances technologiques.
          </p>
          <p class="details">
            Originaire de Marseille et issu d'un parcours varié, j'ai embrassé le monde du développement avec une passion inébranlable. Je trouve une satisfaction particulière à résoudre des défis techniques et à créer des interfaces qui rendent la vie des utilisateurs plus facile. Mon approche du développement est centrée sur la compréhension des besoins de l'utilisateur et la recherche de solutions innovantes. Bien que je sois compétent dans un large éventail de technologies, j'ai un faible pour Ruby on Rails et Vue.js. Ces outils, combinés à ma curiosité insatiable, me permettent de transformer n'importe quelle idée en une application fonctionnelle. Si vous cherchez un professionnel rigoureux, motivé et flexible, je suis prêt à contribuer activement à la réussite de votre projet. Et comme dirait un développeur inspiré par Descartes : 'Je code, donc je bug... puis je débug !'
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
