<section id="about-me" class="about-me-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag 'profil.jpg', alt: "Photo de Adam Lamouri", class: "profile-image img-fluid rounded-circle" %>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div>
          <h2>À propos de moi</h2>
          <p class="introduction">
            Salutations ! Je suis Adam Lamouri, développeur web de 25 ans avec une véritable passion pour l'innovation et la découverte de nouvelles connaissances technologiques.
          </p>
          <p class="details">
            Originaire de Marseille, je suis convaincu que chaque projet est une opportunité unique d'apprentissage et de croissance. Mon adaptabilité me permet de m'intégrer harmonieusement au sein d'une équipe dynamique ou de prendre en charge des missions en Freelance avec détermination et rigueur. Mon objectif est simple : apporter une valeur ajoutée à chaque projet tout en poursuivant mon évolution professionnelle. Si vous recherchez un collaborateur engagé, déterminé et toujours prêt à repousser les limites, je suis votre candidat idéal.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
