<section id="skills" class="py-5">
  <div class="container">
    <h2 class="mb-4 text-center">Compétences</h2>

    <div class="row justify-content-evenly">

      <%= render 'layouts/4skills_progress' %>

      <div class="col-12 col-md-6">

        <div class="skills-carousel-section">
          <div class="container">
            <%= render 'layouts/4skills_carroussel' %>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
