<section id="projects" class="mt-5">
  <div class="container">
    <h2 class="text-center mb-4">Mes Réalisations</h2>
    <div class="row">

      <%# Projet 1 %>
      <div class="col-md-4">
        <div class="rounded-3 projects-dm">
          <%= image_tag 'logo/javascript.png', alt: 'Nom du projet 1', width: '100%', class: 'rounded-3' %>

          <div class="p-3">
            <h5 class="card-title">Nom du projet 1</h5>
            <p class="card-text">Description du projet 1. Ce projet aborde...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary">Voir le projet</a>
                <a href="#" class="btn btn-sm btn-outline-secondary">Code source</a>
              </div>
              <small class="text-muted">Technologies: HTML, CSS, Ruby</small>
            </div>
          </div>
        </div>
      </div>

      <%# Projet 2 %>
      <div class="col-md-4 rounded-3 projects-dm">
        <div class="card mb-4 shadow-sm">
          <img src="<%= image_path 'logo/javascript.png' %>" alt="Nom du projet 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Nom du projet 2</h5>
            <p class="card-text">Description du projet 2. L'objectif de ce projet était...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary">Voir le projet</a>
                <a href="#" class="btn btn-sm btn-outline-secondary">Code source</a>
              </div>
              <small class="text-muted">Technologies: JS, Vue.js</small>
            </div>
          </div>
        </div>
      </div>

      <%# Projet 3 %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="<%= image_path 'logo/javascript.png' %>" alt="Nom du projet 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Nom du projet 3</h5>
            <p class="card-text">Description du projet 3. Avec ce projet, j'ai appris...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary">Voir le projet</a>
                <a href="#" class="btn btn-sm btn-outline-secondary">Code source</a>
              </div>
              <small class="text-muted">Technologies: Ruby on Rails, PostgreSQL</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
